<app-staffheader></app-staffheader>

<div>
    <form #transferForm = "ngForm" (ngSubmit) = "transfer(transferForm.value)">
    <mat-form-field appearance="fill">
      <mat-label>From Account Number</mat-label>
      <input matInput name = "fromAcc" ngModel>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>To Account Number</mat-label>
      <input matInput name = "toAcc" ngModel>
    </mat-form-field> <br>
    <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput name ="amount" ngModel>
    </mat-form-field> <br>
    <mat-form-field appearance="fill">
      <mat-label>Remarks</mat-label>
      <input matInput name = "reason" ngModel>
    </mat-form-field> <br>
    
    <button mat-raised-button color="primary">Transfer</button>
    </form>
    </div>
    
    