<p>customer-dashboard works!</p>

<button mat-raised-button color="primary" (click)="selectButton(1)" >Account Details</button><br><br>
<button mat-raised-button color="primary" (click)="selectButton(2)" >Create Account</button><br><br>


<!-- <button mat-raised-button color="primary" routerLink="/create-account" >Create Account</button><br><br> -->
<button mat-raised-button color="primary" routerLink="/addbeneficiary" >Add Beneficiary</button><br><br>
<button mat-raised-button color="primary" routerLink="/remove-beneficiary" >Remove Beneficiary</button><br><br>
<button mat-raised-button color="primary" routerLink="/transfer" >Transfer Amount</button><br><br>
<button mat-raised-button color="primary" routerLink="/view-statement" >View Statement</button><br><br>


<div class="Account Details" *ngIf= "selection==1">
<h1>Account Details</h1>
<div *ngFor="let account of accounts">

    {{account.accountType}}
    {{account.accountBalance}}
</div>
</div>

<div class="app-create-account" *ngIf= "selection==2">

    <app-create-account></app-create-account>
</div>
    
    
<!-- </div> -->
<!-- {{customer.fullName}}   {{customer.userName}}   {{customer.brand}}  {{customer.phoneNumber}}   {{customer.secret_question}}   {{customer.secret_answer}}   -->
<!-- <h1>Account Details</h1> --->
<!-- <div *ngFor="let account of accounts">

    {{account.accountType}}
    {{account.accountBalance}}

<div *ngFor="let bene of ben">

{{bene.userName}} -->



<!-- </div>  -->
