
.staff-login-container {
    height:350px;
    position: absolute;
    top: 25%;
    left: 70%;
    margin-top: -70px;
    margin-left: -200px;
    padding: 40px;
    border: 3px solid black;
    text-align: center
  }

  .column{
    margin-left: 50px;
  }
  
  span {
    cursor: pointer;
    color: blue;
  }

  mat-form-field{
    width: 250px;
    padding-top: 10px;
  }

  img{
    width: 500px;
    float: left;
  }
  