<div class="column">
  <img mat-card-image src="/assets/images/bank.webp" alt="Photo of the Bank">

  
  <div class="login-container">
    <p  style="font-size:30px" >Customer Login</p>
    <h3><i>{{errorMsg}}</i></h3>
    <form #loginForm="ngForm" (ngSubmit)="dologin(loginForm.value)">
      <div class="username">
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input type="username" matInput name="username" placeholder="username" required ngModel>
        </mat-form-field><br>
      </div>
      <div class="password">
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input type="Password" matInput name="password" placeholder="Password" required ngModel>
        </mat-form-field><br>
      </div>
      <div class="login">
        <button mat-raised-button color="primary" type="submit" title="Enter Username and Password" [disabled]="!loginForm.form.valid">Login</button>
      </div>


    </form>

    <br><br>
    <span routerLink="/validate-details">Forgot Password</span> <br><br>
    Not a Customer?
    <span routerLink="/register">Register Yourself!</span>
  </div>
</div>