<div class=container>
    <div>
        <div>
            <h1><b>Add Beneficiary</b></h1>
        </div>
        <!-- #addproductform="ngForm" -->
        <form [formGroup]="beneficiaryDetails" (ngSubmit)="addBeneficiary()">
            <mat-form-field appearance="fill" class="item">
                <mat-label>Account Number</mat-label>
                <input matInput name="accountNumber" formControlName="accountNumber">
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="item">
                <mat-label>Account Type</mat-label>
                <mat-select name="accountType"  [formControl]="accountType">
                    <mat-option value="CURRENT">CURRENT</mat-option>
                    <mat-option value="SAVINGS">SAVINGS</mat-option>
                </mat-select>
            </mat-form-field><br>
            <!-- <mat-form-field appearance="fill" class="item">
                <mat-label>Approved</mat-label>
                <mat-select name="isApproved"  [formControl]="isApproved">
                    <mat-option value="YES">YES</mat-option>
                    <mat-option value="NO">NO</mat-option>
                </mat-select>
            </mat-form-field><br> -->
            <button class="item" mat-raised-button color="primary">Add Beneficiary</button>
        </form>
    </div>
</div>