
.validateDetails-container {
  margin-left: 100px;
  margin-right: 100px;
  height: 400px;
  padding: 40px;
  border: 3px solid black;
  text-align: center
}

span {
  cursor: pointer;
  color: blue;
}

mat-form-field{
  width: 250px;
  padding-top: 10px;
}