
.validateDetails-container {
  height:absolute;
  position: absolute;
  width:300 px;
  right: 35%;
  padding: 60px;
  margin-top: auto;
  margin-left: auto;
  border: 3px solid black;
  text-align: center
  
}

span {
  cursor: pointer;
  color: blue;
}

mat-form-field{
  width: 250px;
  padding-top: 10px;
}

img{
  width: 500px;
  float: left;
}