<p>validate-details works!</p>

<div>
    <form #detailsForm ="ngForm" (ngSubmit) = "validateDetails(detailsForm.value)">
      <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput name="username" required ngModel>
        </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Secret Question</mat-label>
    <input matInput name="secret_question" required ngModel>
  </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Secret Answer</mat-label>
    <input matInput name="secret_answer" required ngModel>
  </mat-form-field><br>

    <button mat-raised-button color="primary" type="submit" [disabled]="!detailsForm.form.valid">Enter</button>
    </form>
  </div>
  
