<div class="column">
  <img mat-card-image src="/assets/images/bank.webp" alt="Photo of the Bank">
  <div class="validateDetails-container">
    <p  style="font-size:30px" >Validate Your Details Here</p>
    <form #detailsForm ="ngForm" (ngSubmit) = "validateDetails(detailsForm.value)">
      <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput name="username" required ngModel>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Secret Question</mat-label>
          <mat-select name="secret_question" required ngModel>
            <mat-option value="Favorite City">Which is your favorite city?</mat-option>
            <mat-option value="Favorite Country">Which is your favorite country?</mat-option>
          </mat-select>
        </mat-form-field><br>
  <mat-form-field appearance="fill">
    <mat-label>Secret Answer</mat-label>
    <input matInput name="secret_answer" required ngModel>
  </mat-form-field><br>

    <button mat-raised-button color="primary" type="submit" [disabled]="!detailsForm.form.valid">Enter</button>
    </form>
  <br>

  Already a Customer?
  <span routerLink="/login">LOGIN HERE</span> <br><br>  

</div>
</div>
