<p>customer-account-details works!</p>

<form #accountForm="ngForm" (ngSubmit)="accountDetails(accountForm.value);  accountTransaction(accountForm.value);">

    <input type="number" matInput name="accountNumber" placeholder="account number" required ngModel>
    <button type="submit" class="btn btn-primary">Go</button>

</form>


<div class="customerDetails" *ngIf="customerAccount != null">
    {{customerAccount.accountNumber}}<br>
    {{customerAccount.accountType}}<br>
    {{customerAccount.accountBalance}}<br>
    {{customerAccount.isApproved}}<br>
    {{customerAccount.dateOfCreation}}<br>
    {{customerAccount.status}}<br>

</div>

<br><br>
<div *ngFor = "let tansaction of accountNumber" >

    {{tansaction.date}}
    {{tansaction.reference}}
    {{tansaction.amount}}
    {{tansaction.toAcc}}
    {{tansaction.fromAcc}}
    {{tansaction.reason}}
    {{tansaction.paymentType}}
</div>

