<app-staffheader></app-staffheader><br>
  <div class = "container">
   <!--h2>ACCOUNT INFO</h2>
   <h3>DATE</h3>  {{benficary.date}}
   <h3>ACCOUNT NUMBER</h3> {{benficary.accountNumber}} <br>
   <h3>ACOUNT TYPE</h3> {{benficary.accountType}} <br>
  
     {{benficary.isApproved}} 
   <h3>Benficary ID</h3> {{benficary.benId}} <br>
   <button (click)="approveBeneficary(benficary)">Approve</button>-->


  
   <table mat-table [dataSource]="Beneficaries" class="mat-elevation-z8">
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element;">
          {{element.date}}
        </td>
      </ng-container>
      <ng-container matColumnDef="accountNumber">
        <th mat-header-cell *matHeaderCellDef>Acount Number</th>
        <td mat-cell *matCellDef="let element;">
          {{element.accountNumber}}
        </td>
      </ng-container>
     
      <ng-container matColumnDef="isApproved">
        <th mat-header-cell *matHeaderCellDef>is Approved</th>
        <td mat-cell *matCellDef="let element;">
          {{element.isApproved}} 
        </td>
      </ng-container>
      <ng-container matColumnDef="accountType">
        <th mat-header-cell *matHeaderCellDef>Account Type</th>
        <td mat-cell *matCellDef="let element;">
          {{element.accountType}}
        </td>
      </ng-container>

      <ng-container matColumnDef="approve">
        <th mat-header-cell *matHeaderCellDef>approve</th>
        <td mat-cell *matCellDef="let element;">
          <button mat-raised-button color ="primary" (click)="approveBeneficary(element)">Approve</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>


<tr mat-row *matRowDef="let Beneficaries; columns:displayedColumns"></tr>
</table>

 </div>


 <br><br>

<br><br>
<!--div class="customerDetails" *ngIf="accountNumber != null">
    <table mat-table [dataSource]="accountNumber" class="mat-elevation-z8">
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Date</th>
            <td mat-cell *matCellDef="let element;">
              {{element.date}}
            </td>
          </ng-container>
          <ng-container matColumnDef="reference">
            <th mat-header-cell *matHeaderCellDef>Reference</th>
            <td mat-cell *matCellDef="let element;">
              {{element.reference}}
            </td>
          </ng-container>
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell *matCellDef="let element;">
              {{element.amount}}
            </td>
          </ng-container>
          <ng-container matColumnDef="paymentType">
            <th mat-header-cell *matHeaderCellDef>Payment Type</th>
            <td mat-cell *matCellDef="let element;">
              {{element.paymentType}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    

    <tr mat-row *matRowDef="let accountNumber; columns:displayedColumns"></tr>

  </table>

<br><br>

</div>-->