
<div class="register-container">
  <p style="font-size:30px">Register</p>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
    <mat-form-field appearance="fill">
      <mat-label>Full Name</mat-label>
      <input matInput name="fullName" required ngModel>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input matInput name="phoneNumber" required ngModel>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>User Name</mat-label>
      <input matInput name="userName" required ngModel>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input type="Password" matInput name="passWord" placeholder="Password" required ngModel>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Secret Question</mat-label>
      <mat-select name="secret_question" required ngModel>
        <mat-option value="Favorite City">Which is your favorite city?</mat-option>
        <mat-option value="Favorite Country">Which is your favorite country?</mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field appearance="fill">
      <mat-label>Secret Answer</mat-label>
      <input matInput name="secret_answer" required ngModel>
    </mat-form-field><br>
    <div class="register">
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.form.valid">Register</button>
    </div>
  </form>

  <br>

  Already a Customer?
  <span routerLink="/login">Login in</span> <br><br>


</div>