<div class ="container">
  <h1><b><u>Transfer Money!!</u></b></h1>
  <h3><i>{{errorMsg}}</i></h3>

<!-- <div *ngFor="let account of customerAccountNumbers">
    {{account.accountNumber}} {{account.accountBalance}} {{account.accountType}}
</div>  -->

<div class="customerDetails" *ngIf="customerAccountNumbers != null">
  <table mat-table [dataSource]="customerAccountNumbers" class="mat-elevation-z8">
    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef>Account Number</th>
      <td mat-cell *matCellDef="let element;">
        {{element.accountNumber}}
      </td>
    </ng-container>
    <ng-container matColumnDef="accountBalance">
      <th mat-header-cell *matHeaderCellDef>Balance</th>
      <td mat-cell *matCellDef="let element;">
        ${{element.accountBalance}}
      </td>
    </ng-container>
    <ng-container matColumnDef="accountType">
      <th mat-header-cell *matHeaderCellDef>Account Type</th>
      <td mat-cell *matCellDef="let element;">
        {{element.accountType}}
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    

    <tr mat-row *matRowDef="let customerAccountNumbers; columns:displayedColumns"></tr>
  </table>
  </div>

<div>
    <form #transactionForm ="ngForm" (ngSubmit) = "transferAmount(transactionForm.value)">
      <!-- <h3><i>{{errorMsg}}</i></h3> -->
      <mat-form-field appearance="fill">
          <mat-label>From Account Number</mat-label>
          <input matInput name="fromAcc" required ngModel>
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>To Account Number</mat-label>
          <input matInput name="toAcc" required ngModel>
        </mat-form-field><br>
  <mat-form-field appearance="fill">
      <mat-label>Amount</mat-label>
      <input matInput name="amount" required ngModel>
    </mat-form-field><br>
    <mat-form-field appearance="fill" class="item">
        <mat-label>Reason</mat-label>
        <mat-select name="reason" required ngModel>
            <mat-option value="Payment of Debts">Payment of Debts</mat-option>
            <mat-option value="Payment of Bills">Payment of Bills</mat-option>
            <mat-option value="Donation">Donation</mat-option>
            <mat-option value="Credit Card Payment">Credit Card Payment</mat-option>
            <mat-option value="Insurance">Insurance</mat-option>
        </mat-select>
        <!-- <input matInput name="reason" required ngModel> -->
    </mat-form-field><br>
    <mat-form-field appearance="fill">
        <mat-label>Reference</mat-label>
        <input matInput name="reference" required ngModel>
      </mat-form-field><br>
    <button mat-raised-button color="primary" type="submit" [disabled]="!transactionForm.form.valid">Transfer</button>
    </form>
  </div>

  </div>



