.example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
  }
  table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  div {
    margin-top: 10px;
    max-width: 90%;
    margin: auto;
    color: navy;
}


/* button {
  size: 30px;
}  */



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .item {
    min-width: 300px;
    width: 48%;
    padding-bottom: 2%;
    margin-bottom: 2%; 
  }
  .staff{
    margin-left: 10px ;
  }