
<app-staff></app-staff>

<br><br>

<table mat-table [dataSource]="accounts" class="mat-elevation-z8">
    <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container> -->
    <!-- *ngFor="let column of displayedcolumns;let index=index" -->
    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef>accountNumber</th>
      <td mat-cell *matCellDef="let element;">
        {{element.accountNumber}}
      </td>
    </ng-container>
    <ng-container matColumnDef="accountType">
      <th mat-header-cell *matHeaderCellDef>accountType</th>
      <td mat-cell *matCellDef="let element;">
        {{element.accountType}}
      </td>
    </ng-container>
    <ng-container matColumnDef="accountBalance">
      <th mat-header-cell *matHeaderCellDef>accountBalance</th>
      <td mat-cell *matCellDef="let element;">
        {{element.accountBalance}}
      </td>
    </ng-container>
    <ng-container matColumnDef="dateOfCreation">
      <th mat-header-cell *matHeaderCellDef>dateOfCreation</th>
      <td mat-cell *matCellDef="let element;">
        {{element.dateOfCreation}}
      </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>status</th>
      <td mat-cell *matCellDef="let element;">
        {{element.status}}
      </td>
    </ng-container>

    <ng-container matColumnDef="approve">
      <th mat-header-cell *matHeaderCellDef>Approve</th>
      <td mat-cell *matCellDef="let element;">
        <button (click)="approveAccount(element)" >Approve</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <tr mat-row *matRowDef="let staff; columns:displayedColumns"></tr>

  </table>