<div class=container>
    <div>
        <div>
            <h1><b>Add Staff</b></h1>
        </div>
        <!-- #addproductform="ngForm" -->
        <form [formGroup]="adminDetails" (ngSubmit)="createStaff()">
            <mat-form-field appearance="fill" class="item">
                <mat-label>Username</mat-label>
                <input matInput name="userName" formControlName="userName">
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="item">
                <mat-label>Password</mat-label>
                <input matInput type="password" name="passWord" formControlName="passWord">
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="item">
                <mat-label>Fullname</mat-label>
                <input matInput name="fullName" formControlName="fullName">
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="item">
                <mat-label>Status</mat-label>
                <mat-select name="status"  [formControl]="status">
                    <mat-option value="ENABLE">ENABLE</mat-option>
                    <mat-option value="DISABLE">DISABLE</mat-option>
                </mat-select>
            </mat-form-field><br>
            <mat-form-field appearance="fill" class="item">
                <mat-label>Role</mat-label>
                <mat-select [formControl]="role" name="role">
                    <mat-option value="STAFF">STAFF</mat-option>
                    <!-- <mat-option value="CUSTOME">STAFF</mat-option>
                    <mat-option value="ADMIN">ADMIN</mat-option> -->
                </mat-select>
            </mat-form-field><br>
            <button class="item" mat-raised-button color="primary">Create Staff</button>
        </form>
    </div>
</div>