<div class="column">
  <img mat-card-image src="/assets/images/bank.webp" alt="Photo of the Bank">

<div class="login-container">
  <p  style="font-size:30px" >Reset Your Password Here</p>
    
      <form #resetPasswordForm = "ngForm" (ngSubmit)="doreset(resetPasswordForm.value)">  
        <div class="username">
      <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input type="username" matInput name = "username" placeholder="username" required ngModel>
      </mat-form-field><br>
    </div>
    <div class="password">
      <mat-form-field appearance="fill">
        <mat-label>New Password</mat-label>
          <input type="Password" matInput name = "password" placeholder="Password" required ngModel>
        </mat-form-field><br>
     </div>
     <div class="login">
     <button mat-raised-button color="primary" type="submit" [disabled]="!resetPasswordForm.form.valid">Update</button>
     </div>
    </form>
    <br>
    Already a Customer?
    <span routerLink="/login">Sign in</span> <br><br>

  </div>
</div>
