.example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
  }
  table {
    width: 100%;
  }
  div {
    margin-top: 10px;
    max-width: 90%;
    min-width: 75%;
    margin: auto;
    color: navy;
}


/* button {
    margin-left: 65px;
} */



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .item {
    min-width: 300px!important;
    width: 48%;
    padding-bottom: 2%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
  }
  .staff{
    margin-left: 10px ;
  }
