.example-form mat-slide-toggle {
    margin: 8px 0;
    display: block;
  }
  /* table {
     width: absolute; 
    height: absolute; 
    /* width: 200px; 
  } */
  div {
    /* margin-top: 10px;
    max-width: 90%;
    min-width: 75%;
    margin: auto; */
    color: navy;
}




/* button {
    margin-left: 65px;
} */



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: absolute;
    /* position: absolute; */
    width: 400px;
    top: 20%;
    right: 30%;
    margin-top: auto;
    margin-left: auto;
    margin-right:auto;
    padding: 70px;
    border: 3px solid black;
  } 
  
  .item {
    min-width: 300px!important;
    width: 48%;
    padding-bottom: 2%; /* 32:18, i.e. 16:9 */
    margin-bottom: 2%; /* (100-32*3)/2 */
  }
  .staff{
    margin-left: 10px ;
  }

  .mat-column-benId {
    width: 32px;
    /* border-right: 1px solid currentColor; */
    /* padding-right: 24px; */
    text-align: center;
    font-weight: bold;
  }
  
  .mat-column-accountNumber {
    padding-left: 16px;
    /* font-size: 20px; */
    width: 32px;
    text-align: center;
    font-weight: bold;
  }
  
  .mat-column-accountType {
    padding-left: 16px;
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  .mat-column-isApproved {
    padding-left: 16px;
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  .mat-column-date {
    padding-left: 16px;
    width: 32px;
    text-align: center;
    font-weight: bold;
  }

  .mat-column-delete {
    padding-left: 16px;
    width: 32px;
    text-align: center;
    font-weight: bold;
  }
  